<div>
    <main>
        <div>
            <h1>{{name}}</h1>
            <p>
                <date><b>Birthdate:</b> {{birthdate}}</date>
            </p>
            <p><b>Birthplace:</b> {{birthplace}}</p>
            <p>
                <date><b>Deathdate:</b> {{deathdate}}</date>
            </p>
            <p><b>Deathplace:</b> {{deathplace}}</p>
            <p><b>Nationality:</b> {{nationality}}</p>
            <p><b>Occupation:</b> {{occupation}}</p>
            <ul>
                <p><b>Known for:</b></p>
                {{#each known_for}}
                <li>
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </div>

        <br>
        <br>
        <hr class="mt-5 mb-5">

        <div class="row mb-5">
            <div class="col-4">
                <div class="card text-center text-bg-secondary">
                    <div class="card-title text-bg-dark"><em>{{> title data="Education" big=true}}</em></div>
                    {{#each education}}
                    <div class="card-body">
                        <p><strong>Degree:</strong> {{degree}}</p>
                        <p><strong>Field:</strong> {{field}}</p>
                        <p><strong>Institution:</strong> {{institution}}</p>
                        <p><strong>Year:</strong> {{year}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card text-center text-bg-secondary">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Notable publications" big=true}}</em>
                    </div>
                    <div class="card-body">
                        <ul>
                            {{#each notable_publications}}
                            <li><b>Title:</b> {{title}}
                                <p><b>Year:</b> {{year}}</p>
                                <p><b>Publisher:</b> {{publisher}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card text-center text-bg-secondary">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Partners" big=true}}</em>
                    </div>
                    <div class="card-body">
                        <ul>
                            {{#each partners}}
                            <li><b>Name:</b> {{name}}
                                <p><b>Relationship:</b> {{relationship}}</p>
                                <p><b>Years:</b> {{years}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <hr class="mt-5 mb-5">

        <div class="row">
            <div class="col-4">
                <div class="card text-center text-bg-success">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Awards" big=true}}</em>
                    </div>
                    <div class="card-body">
                        {{#each awards}}
                        <p><strong>Title:</strong> {{title}}</p>
                        <p><strong>Year:</strong> {{year}}</p>
                        <p><strong>Description:</strong> {{description}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card card text-center text-bg-success">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Influences" big=true}}</em>
                    </div>
                    <div class="card-title">
                        <ul>
                            {{#each influences}}
                            <li>
                                <p> {{name}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card text-center text-bg-success">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Influenced" big=true}}</em>
                    </div>
                    <div class="card-body">
                        <ul>
                            {{#each influenced}}
                            <li>
                                <p> {{name}}</p>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-5">

        <div class="row">
            <div class="col-4">
                <div class="card text-center text-bg-warning">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Quotes" big=true}}</em>
                    </div>
                    <div class="card-body">
                        <ul>
                            {{#each quotes}}
                            <li>
                                <q> {{text}}</q>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card text-center text-bg-warning">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Major discoveries" big=true}}</em>
                    </div>
                    <div class="card-body">
                        {{#each major_discoveries}}
                        <p><strong>Title:</strong> {{title}}</p>
                        <p><strong>Year:</strong> {{year}}</p>
                        <p><strong>Description:</strong> {{description}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="card text-center text-bg-warning">
                    <div class="card-title text-bg-dark">
                        <em>{{> title data="Contributions" big=true}}</em>
                    </div>
                    <div class="card-body">
                        {{#with contributions}}
                        <p><strong>Title:</strong> {{title}}</p>
                        <p><strong>Description:</strong> {{description}}</p>
                        <p><strong>Year:</strong> {{year}}</p>
                        <p><strong>Field:</strong> {{field}}</p>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>