<div>
    <main>
        <div>
            <h1>{{name}}</h1>
            <p>
                <date><b>Birthdate:</b> {{birthdate}}</date>
            </p>
            <p><b>Birthplace:</b> {{birthplace}}</p>
            <p>
                <date><b>Deathdate:</b> {{deathdate}}</date>
            </p>
            <p><b>Deathplace:</b> {{deathplace}}</p>
            <p><b>Nationality:</b> {{nationality}}</p>
            <p><b>Occupation:</b> {{occupation}}</p>
            <ul>
                <p><b>Known for:</b></p>
                {{#each known_for}}
                <li>
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </div>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Education" big=true}}</em>
            {{#each education}}
            <div>
                <p><strong>Degree:</strong> {{degree}}</p>
                <p><strong>Field:</strong> {{field}}</p>
                <p><strong>Institution:</strong> {{institution}}</p>
                <p><strong>Year:</strong> {{year}}</p>
            </div>
            {{/each}}
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Notable publications" big=true}}</em>
            <ul>
                {{#each notable_publications}}
                <li><b>Title:</b> {{title}}
                    <p><b>Year:</b> {{year}}</p>
                    <p><b>Publisher:</b> {{publisher}}</p>
                </li>
                {{/each}}
            </ul>
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Partners" big=true}}</em>
            <ul>
                {{#each partners}}
                <li><b>Name:</b> {{name}}
                    <p><b>Relationship:</b> {{relationship}}</p>
                    <p><b>Years:</b> {{years}}</p>
                </li>
                {{/each}}
            </ul>
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Awards" big=true}}</em>
            {{#each awards}}
            <p><strong>Title:</strong> {{title}}</p>
            <p><strong>Year:</strong> {{year}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            {{/each}}
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Influences" big=true}}</em>
            <ul>
                {{#each influences}}
                <li>
                    <p> {{name}}</p>
                </li>
                {{/each}}
            </ul>
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Influenced" big=true}}</em>
            <ul>
                {{#each influenced}}
                <li>
                    <p> {{name}}</p>
                </li>
                {{/each}}
            </ul>
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Quotes" big=true}}</em>
            <ul>
                {{#each quotes}}
                <li>
                    <q> {{text}}</q>
                </li>
                {{/each}}
            </ul>
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Major discoveries" big=true}}</em>
            {{#each major_discoveries}}
            <p><strong>Title:</strong> {{title}}</p>
            <p><strong>Year:</strong> {{year}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            {{/each}}
        </section>

        <br>
        <br>
        <hr>

        <section>
            <em>{{> title data="Contributions" big=true}}</em>
            {{#with contributions}}
            <p><strong>Title:</strong> {{title}}</p>
            <p><strong>Description:</strong> {{description}}</p>
            <p><strong>Year:</strong> {{year}}</p>
            <p><strong>Field:</strong> {{field}}</p>

            {{/with}}
        </section>

    </main>
</div>